<footer class="bg-dark text-white">
    <div class="container py-3">
      <div class="row">
        <div class="col-md-4">
          <h5>Acerca de nosotros</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in est in erat faucibus convallis. Nullam porttitor ligula quis dui lobortis imperdiet. Donec sit amet purus euismod, volutpat libero at, lobortis felis. Praesent pulvinar purus ut lectus egestas, quis aliquet nibh volutpat. In vitae feugiat massa. </p>
        </div>
        <div class="col-md-4">
          <h5>Soporte</h5>
          <ul class="list-unstyled">
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Envío y devoluciones</a></li>
            <li><a href="#">Politica de privacidad</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Conecta con nosotros</h5>
          <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Pinterest</a></li>
          </ul>
        </div>
      </div>
    </footer>

      
  